openapi: 3.2.0
info:
  title: AcxApi Production Agent API
  version: v1
servers:
- url: https://api.beauthenticx.com
  description: AcxApi Production Server
security:
- OAuth2:
  - acxapi
tags:
- name: Agent
paths:
  /Agent:
    post:
      tags:
      - Agent
      summary: Create Agent
      description: Adds an agent to your organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcxApi.Models.Agent.CreateAgentRequest'
      responses:
        '200':
          description: Returns the newly created agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcxApi.Models.Agent.AgentResponseModel'
        '400':
          description: A user id was provided but did not correspond to an existing, active, user in your organization
  /Agent/{AgentId}:
    get:
      tags:
      - Agent
      summary: Get Agent
      description: Returns the agent with the id specified in the url.
      parameters:
      - name: AgentId
        in: path
        description: UUID of the agent to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the agent with the specified id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcxApi.Models.Agent.AgentResponseModel'
        '404':
          description: If your organization has no agent with that specific id
    put:
      tags:
      - Agent
      summary: Update Agent
      description: Updates information about an existing agent in your organization.
      parameters:
      - name: AgentId
        in: path
        description: UUID of the agent to update
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcxApi.Models.Agent.UpdateAgentRequest'
      responses:
        '200':
          description: Returns the updated agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcxApi.Models.Agent.AgentResponseModel'
        '400':
          description: A UserId was provided that corresponded to an inactive or non existent user
        '404':
          description: If your organization has no agent with that specific id
  /Agent/All:
    get:
      tags:
      - Agent
      summary: Get All Agents
      description: Returns a list of all agents in your organization.
      parameters:
      - name: IsActive
        in: query
        description: Filter by active (true) or inactive (false) agents. Omit to return all
        schema:
          type: boolean
      responses:
        '200':
          description: Returns the list of all agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcxApi.Models.Agent.AgentResponseModel'
        '404':
          description: If your organization has no agents
components:
  schemas:
    AcxApi.Models.Agent.CreateAgentRequest:
      required:
      - agentEmail
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          minLength: 1
          type: string
          description: The first name of the new agent you intend to add
          example: John
        lastName:
          minLength: 1
          type: string
          description: The last name of the new agent you intend to add
          example: Doe
        agentEmail:
          minLength: 1
          type: string
          description: The email of the new agent you intend to add
          example: john.doe@organization.com
        agentCode:
          type:
          - string
          - 'null'
          description: Your organization's internal identifier for this agent. Used to match agents when uploading interactions
          example: '007'
        osms:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: List of hierarchy node Id values (UUIDs) to assign this agent to. The agent is also automatically assigned to all nodes in each assigned node's parent chain
          example:
          - 00000000-0000-0000-0000-000000000000
          - 00000000-0000-0000-0000-000000000001
        userId:
          type:
          - string
          - 'null'
          description: The Id of a platform user to link to this agent. Must be an active user in your organization
          example: 00000000-0000-0000-0000-00000000000
        managerId:
          type:
          - string
          - 'null'
          description: The ID of this agent's manager
          example: 00000000-0000-0000-0000-00000000000
        startDate:
          type:
          - string
          - 'null'
          description: The date this agent started employment
          example: '2000-10-01T17:42:14.63798'
      additionalProperties: false
    AcxApi.Models.Agent.AgentResponseModel:
      type: object
      properties:
        id:
          type: string
          description: The agent's unique ID
          format: uuid
          readOnly: true
        userId:
          type:
          - string
          - 'null'
          description: The platform User ID linked to this agent, if any
          readOnly: true
          example: 8f02de21-2d25-4a96-8973-7eb8ec9b6c1a
        firstName:
          type:
          - string
          - 'null'
          description: The first name of this agent
          example: John
        firstInitial:
          type:
          - string
          - 'null'
          description: The first initial of this agent
          readOnly: true
          example: J
        lastName:
          type:
          - string
          - 'null'
          description: The last name of this agent
          example: Doe
        agentEmail:
          type:
          - string
          - 'null'
          description: The email of this agent
          example: john.doe@organization.com
        agentCode:
          type:
          - string
          - 'null'
          description: Your organization's internal code for this agent. Used as AgentCode when uploading interactions to match an agent by code rather than name
          example: '007'
        createdOn:
          type:
          - string
          - 'null'
          description: The date this agent was created
          format: date-time
          readOnly: true
        modifiedOn:
          type:
          - string
          - 'null'
          description: The date this agent was last modified
          format: date-time
          readOnly: true
        isActive:
          type:
          - boolean
          - 'null'
          description: A value that is either "true" or "false" that indicates whether this agent is active
          example: true
        managerId:
          type:
          - string
          - 'null'
          description: The ID of this agent's manager
          example: 00000000-0000-0000-0000-00000000000
        startDate:
          type:
          - string
          - 'null'
          description: The date this agent started employment
          format: date-time
          example: '2000-10-01T17:42:14.63798'
      additionalProperties: false
    AcxApi.Models.Agent.UpdateAgentRequest:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
          description: The first name of the agent
          example: John
        lastName:
          type:
          - string
          - 'null'
          description: The last name of the agent
          example: Doe
        agentEmail:
          type:
          - string
          - 'null'
          description: The email of the agent
          example: john.doe@organization.com
        agentCode:
          type:
          - string
          - 'null'
          description: Your organization's internal identifier for this agent. Used to match agents when uploading interactions
          example: '007'
        isActive:
          type:
          - boolean
          - 'null'
          description: Set to false to deactivate the agent
          example: true
        osms:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Replaces the agent's full list of hierarchy assignments. If omitted, existing assignments are preserved. Assigning to a child node automatically includes all nodes in its parent chain
          example:
          - 00000000-0000-0000-0000-000000000000
          - 00000000-0000-0000-0000-000000000001
        userId:
          type:
          - string
          - 'null'
          description: UUID of a platform user to link to this agent. Pass the string "remove" to unlink the currently associated user
          example: 00000000-0000-0000-0000-000000000000
        managerId:
          type:
          - string
          - 'null'
          description: The ID of this agent's manager. Pass the string "remove" to unlink the currently associated manager-user from the agent-user
          example: 00000000-0000-0000-0000-00000000000
        startDate:
          type:
          - string
          - 'null'
          description: The date this agent started employment
          example: '2000-10-01T17:42:14.63798'
      additionalProperties: false
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.beauthenticx.com/connect/token
          scopes:
            acxapi: Access to Acx API
