openapi: 3.2.0
info:
  title: AcxApi Production Roles API
  version: v1
servers:
- url: https://api.beauthenticx.com
  description: AcxApi Production Server
security:
- OAuth2:
  - acxapi
tags:
- name: Roles
paths:
  /Roles/All:
    get:
      tags:
      - Roles
      summary: Get All Roles
      description: Returns a list of all roles in your organization along with their permissions and each permission's description.
      parameters:
      - name: IsActive
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Returns the list of all roles and their respective permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcxApi.Models.Roles.RoleResponseModel'
components:
  schemas:
    AcxApi.Models.Roles.RolePermission:
      type: object
      properties:
        permission:
          type:
          - string
          - 'null'
          description: The name of this permission
          example: 'View: Summary'
        description:
          type:
          - string
          - 'null'
          description: 'The description of this permission. What users of this permission

            are capable of.'
          example: Determines if the user can see and utilize the Summary tab.
      additionalProperties: false
    AcxApi.Models.Roles.RoleResponseModel:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of this role
          example: Analyst
        permissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AcxApi.Models.Roles.RolePermission'
          description: A list of permissions this role has
      additionalProperties: false
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.beauthenticx.com/connect/token
          scopes:
            acxapi: Access to Acx API
