{
  "openapi": "3.0.1",
  "info": {
    "title": "AcxApi Production",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.beauthenticx.com",
      "description": "AcxApi Production Server"
    }
  ],
  "paths": {
    "/Agent": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Create Agent",
        "description": "Adds an agent to your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Agent.CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Agent.AgentResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "A user id was provided but did not correspond to an existing, active, user in your organization"
          }
        }
      }
    },
    "/Agent/{AgentId}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get Agent",
        "description": "Returns the agent with the id specified in the url.",
        "parameters": [
          {
            "name": "AgentId",
            "in": "path",
            "description": "UUID of the agent to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the agent with the specified id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Agent.AgentResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "If your organization has no agent with that specific id"
          }
        }
      },
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Update Agent",
        "description": "Updates information about an existing agent in your organization.",
        "parameters": [
          {
            "name": "AgentId",
            "in": "path",
            "description": "UUID of the agent to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Agent.UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Agent.AgentResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "A UserId was provided that corresponded to an inactive or non existent user"
          },
          "404": {
            "description": "If your organization has no agent with that specific id"
          }
        }
      }
    },
    "/Agent/All": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get All Agents",
        "description": "Returns a list of all agents in your organization.",
        "parameters": [
          {
            "name": "IsActive",
            "in": "query",
            "description": "Filter by active (true) or inactive (false) agents. Omit to return all",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Agent.AgentResponseModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "If your organization has no agents"
          }
        }
      }
    },
    "/Conversations/Classifiers": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets a list of classifiers",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "description": "Maximum number of records returned per request (1-1000, default 100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "Id of the last Classifier object in previously returned collection",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CategoryNames",
            "in": "query",
            "description": "Optional comma-delimited list of category names to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClassifierTypes",
            "in": "query",
            "description": "Optional comma-delimited classifier type filter. Valid values are static aliases: Classifier, Core AI Model, LLM Model, Metadata.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Classifiers.ClassifierModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Conversations/Insights": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get classifier results for conversations based on filter criteria",
        "description": "Returns a list of classifier results for conversations \r\nwith Status of \"Sampled\" or \"ReadyToSample\" that match the specified criteria.\r\n            \r\nRequests without any classifier or hierarchy filters may span up to 7 days.\r\nSupplying at least one of ClassifierIds, HierarchyIds, HierarchyCodes,\r\nClassifierCategoryNames, or ClassifierTypes extends the maximum date range to 31 days.\r\n            \r\nUse GET /Conversations/Classifiers to discover valid classifier IDs.\r\nUse GET /Hierarchy/All to discover valid hierarchy IDs and hierarchy codes.",
        "parameters": [
          {
            "name": "DateReference",
            "in": "query",
            "description": "Which date to filter on. Valid values: ArrivalDate (default), InteractionDate.",
            "schema": {
              "type": "string",
              "example": "ArrivalDate"
            },
            "example": "ArrivalDate"
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ISO 8601 datetime. Required. Requests may span at most 7 days unless at least one of\r\nClassifierIds, HierarchyIds, HierarchyCodes, ClassifierCategoryNames, or ClassifierTypes\r\nis supplied, in which case up to 31 days is allowed.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-11-15T08:30:00"
            },
            "example": "2024-11-15T08:30:00"
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ISO 8601 datetime. Must be equal to or later than StartDate. Required. The total requested\r\nrange may be at most 7 days unless at least one of ClassifierIds, HierarchyIds,\r\nHierarchyCodes, ClassifierCategoryNames, or ClassifierTypes is supplied, in which case up\r\nto 31 days is allowed.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-11-15T17:30:00"
            },
            "example": "2024-11-15T17:30:00"
          },
          {
            "name": "ClassifierIds",
            "in": "query",
            "description": "Comma-separated list of classifier GUIDs. Use GET /Conversations/Classifiers to discover available IDs.\r\nProviding this filter qualifies the request for the 31-day maximum date range.",
            "schema": {
              "type": "string",
              "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1,ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f"
            },
            "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1,ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f"
          },
          {
            "name": "HierarchyIds",
            "in": "query",
            "description": "Comma-separated list of hierarchy GUIDs. Providing this filter qualifies the request for the\r\n31-day maximum date range.",
            "schema": {
              "type": "string",
              "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1,ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f"
            },
            "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1,ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f"
          },
          {
            "name": "HierarchyCodes",
            "in": "query",
            "description": "Comma-separated list of hierarchy codes. Resolved to hierarchy IDs automatically. Providing\r\nthis filter qualifies the request for the 31-day maximum date range.",
            "schema": {
              "type": "string",
              "example": "CODE1,CODE2,CODE3"
            },
            "example": "CODE1,CODE2,CODE3"
          },
          {
            "name": "ClassifierCategoryNames",
            "in": "query",
            "description": "Comma-separated category name filter. Valid values: Skills, Topics, Process, SE Suite.\r\nProviding this filter qualifies the request for the 31-day maximum date range.",
            "schema": {
              "type": "string",
              "example": "Skills,Topics"
            },
            "example": "Skills,Topics"
          },
          {
            "name": "ClassifierTypes",
            "in": "query",
            "description": "Comma-delimited classifier type filter. Valid values: Classifier, Core AI Model, LLM Model, Metadata.\r\nProviding this filter qualifies the request for the 31-day maximum date range.",
            "schema": {
              "type": "string",
              "example": "Core AI Model,LLM Model"
            },
            "example": "Core AI Model,LLM Model"
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "GUID of the last conversation from the previous page. Used for cursor-based pagination.",
            "schema": {
              "type": "string",
              "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
            },
            "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Results per page. Default 100, max 1000.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the conversations with classifier results that match the specified criteria",
            "headers": {
              "X-Has-More": {
                "description": "Whether additional records exist beyond the current page.",
                "schema": {
                  "type": "boolean"
                }
              },
              "X-Next-LastId": {
                "description": "Cursor value to pass as LastId to retrieve the next page.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Records": {
                "description": "Total number of matching records. Only available on the first page of results (when LastId is null or empty).",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Conversations.ConversationInsightsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid"
          },
          "404": {
            "description": "If no conversations meet the criteria"
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Post hierarchyIds, hierarchyCodes, or classifierIds to filter on classifier results.",
        "description": "Returns a list of classifier results for conversations \r\nwith Status of \"Sampled\" or \"ReadyToSample\" that match the specified criteria.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Conversations.ConversationInsightsPostRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Conversations.ConversationInsightsPostRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Conversations.ConversationInsightsPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the conversations with classifier results that match the specified criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Conversations.ConversationInsightsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid"
          },
          "404": {
            "description": "If no conversations meet the criteria"
          }
        }
      }
    },
    "/Conversations/Transcriptions": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Batched Conversation Transcriptions",
        "description": "Returns the transcriptions for multiple conversations identified by their unique IDs.\r\nUp to 100 conversation IDs are accepted per request. Duplicate IDs are ignored.\r\n            \r\nResponse includes:\r\n- transcriptions: successful items\r\n- errors: failed items, each with a statusCode indicating why it failed\r\n  * 404 = conversation not found\r\n  * 400 = failed to process\r\n  * 200 = not processed or still processing (message included)\r\n            \r\nExample request:\r\n{\r\n  \"conversationIds\": [\r\n    \"b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1\",\r\n    \"ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f\"\r\n  ]\r\n}\r\n            \r\nExample response:\r\n{\r\n  \"transcriptions\": [\r\n    {\r\n      \"conversationId\": \"b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1\",\r\n      \"transcriptions\": [\r\n        {\r\n          \"languageCode\": \"en\",\r\n          \"transcription\": [\r\n            \"00:00 Agent: Hello\",\r\n            \"00:03 Customer: Hi\"\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"errors\": [\r\n    {\r\n      \"conversationId\": \"ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f\",\r\n      \"statusCode\": 404,\r\n      \"error\": \"Conversation not found\"\r\n    }\r\n  ]\r\n}",
        "requestBody": {
          "description": "Request containing conversation IDs. Maximum 100 conversation IDs per request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Transcription.BatchTranscriptionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Transcription.BatchTranscriptionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Transcription.BatchTranscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the transcriptions for the specified conversations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Transcription.BatchTranscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid input or exceeds maximum batch size"
          }
        }
      }
    },
    "/Conversations/Transcriptions/{conversationId}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Single Conversation Transcriptions",
        "description": "Returns the transcriptions for a conversation identified by its unique ID.\r\nIf the conversation has not finished processing, returns 200 with a message.\r\nIf the conversation failed to process, returns 400 with a message.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "GUID of the conversation. Transcriptions are only available once processing is complete. Returns 200 with a message if still processing, 400 if processing failed",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the transcriptions for the specified conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Transcription.ConversationTranscriptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "If no conversation with that specific id was found"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Evaluations": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get Evaluations",
        "description": "Gets a list of evaluations",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "description": "Filters by the evaluation's last modified date.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Filters by the evaluation's last modified date. Must be equal to or later than StartDate.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Valid values: \r\n\r\nNotStarted, \r\nInProgress, \r\nCompleted, \r\nNoValue, \r\nPendingReview, \r\nReviewComplete",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "The EvaluationNumber (integer) of the last evaluation from the previous page. Used for cursor-based pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Results per page. Default 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all evaluations that meet the provided criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Evaluations.Evaluation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Evaluations/Modules": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get Evaluations with their modules",
        "description": "Gets a list of evaluations with their associated modules",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "description": "Filters by the evaluation's last modified date.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Filters by the evaluation's last modified date. Must be equal to or later than StartDate.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Valid values: \r\nNotStarted, \r\nInProgress, \r\nCompleted, \r\nNoValue, \r\nPendingReview, \r\nReviewComplete",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "The EvaluationNumber of the last evaluation from the previous page. Used for cursor-based pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Results per page. Default 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "HierarchyId",
            "in": "query",
            "description": "Single hierarchy GUID to filter by",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all evaluations that meet the provided criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Evaluations.ModuleEvaluation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Hierarchy": {
      "post": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Create Hierarchy",
        "description": "Adds a hierarchy to your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.CreateHierarchyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created Hierarchy, and the name of its parent if applicable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.HierarchyResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "One of the following errors occurred: No hierarchy name was provided in the request body, a ParentId was provided but no hierarchy exists with that id\r\nwithin your organization, a valid `ParentId` was provided but you don't have enough structure levels for the new hierarchy,\r\nyour organization has no structure levels, a user id in the provided contact lists is invalid."
          }
        }
      }
    },
    "/Hierarchy/{HierarchyId}": {
      "put": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Update Hierarchy",
        "description": "Updates information about an existing hierarchy in your organization.",
        "parameters": [
          {
            "name": "HierarchyId",
            "in": "path",
            "description": "UUID of the hierarchy to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.UpdateHierarchyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly updated Hierarchy, and the name of its parent if applicable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.HierarchyResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "If your organization has no hierarchy with that specific id"
          }
        }
      }
    },
    "/Hierarchy/All": {
      "get": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Get All Hierarchies",
        "description": "Returns a list of all active hierarchies in your organization along with their contacts.",
        "parameters": [
          {
            "name": "IsActive",
            "in": "query",
            "description": "Filter by active (true) or inactive (false) hierarchies. Omit to return all",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all active hierarchies and their respective contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.HierarchyResponseModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "If your organization has no hierarchies matching the requested active-state filter"
          }
        }
      }
    },
    "/Interactions": {
      "get": {
        "tags": [
          "Interactions"
        ],
        "summary": "Get Interactions based on filter criteria",
        "description": "Deprecated. Please use `/Conversations/Insights` instead.\r\n            \r\nReturns a list of interactions that have finished processing and match the specified criteria.",
        "parameters": [
          {
            "name": "DateReference",
            "in": "query",
            "description": "Specifies whether to filter by 'InteractionDate' or 'ArrivalDate'.",
            "schema": {
              "type": "string",
              "example": "InteractionDate"
            },
            "example": "InteractionDate"
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date for filtering interactions. Format: YYYY-MM-DDTHH:MM:SS.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-11-15T08:30:00"
            },
            "example": "2024-11-15T08:30:00"
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date for filtering interactions. Format: YYYY-MM-DDTHH:MM:SS.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-11-15T17:30:00"
            },
            "example": "2024-11-15T17:30:00"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "The status filter for interactions. Valid values: 'Sampled', 'ReadyToSample'.",
            "schema": {
              "type": "string",
              "example": "Sampled"
            },
            "example": "Sampled"
          },
          {
            "name": "EddyEffect",
            "in": "query",
            "description": "Boolean filter for the Eddy Effect model results. Valid values: 'true', 'false'.",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "example": "true"
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "The last Interaction ID (excluded) to start pagination from.",
            "schema": {
              "type": "string",
              "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
            },
            "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "The number of results to return per call. Must be an integer between 1 and 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the interactions that match the specified criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.InteractionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid"
          },
          "404": {
            "description": "If no interactions meet the criteria"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Interactions"
        ],
        "summary": "Get Interactions based on filter criteria.",
        "description": "Deprecated. Please use `/Conversations/Insights` instead.\r\n            \r\nReturns a list of interactions that have finished processing and match the specified criteria.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.PostInteractionsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.PostInteractionsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.PostInteractionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the interactions that match the specified criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.InteractionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid."
          },
          "404": {
            "description": "If no interactions meet the criteria."
          }
        },
        "deprecated": true
      }
    },
    "/Interactions/{AmdID}": {
      "get": {
        "tags": [
          "Interactions"
        ],
        "summary": "Get Interaction",
        "description": "Deprecated. Please use `/Conversations/Insights` instead.\r\n            \r\nReturns the interaction's status, and if completed, additional information describing the interaction.",
        "parameters": [
          {
            "name": "AmdID",
            "in": "path",
            "description": "The unique identifier of the interaction. This field is required.\r\n             <example> Example: b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1</example>",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the interaction with the specified id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.InteractionResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "If your organization has no interaction with that specific id"
          }
        },
        "deprecated": true
      }
    },
    "/Media/Upload": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload Media",
        "description": "Uploads an audio file interaction into storage for processing.\r\n\r\n*Param name \"file\"* \r\n\r\nAudio file uploaded from client (required unless signedUrl is provided). \r\n\r\nValid Audio File Extensions:\r\n- .wav\r\n- .mp3\r\n- .mp4\r\n- .ogg\r\n- .opus\r\n- .m4a \r\n\r\nValid Chat File Extensions:\r\n- .tar\r\n- .zip\r\n\r\n*Param name \"signedUrl\"* \r\n\r\nOptional signed download URL. If provided, the server downloads the file from this URL instead of using multipart upload. Supports signed URLs from AWS S3, Azure Blob Storage, etc. \r\n\r\nExample: \"https://bucket.s3.amazonaws.com/path/to/file.mp3?X-Amz-Algorithm=...\" or \"https://storage.azure.com/container/blob?sv=...\"\r\n\r\n*Param name \"metadata\"* \r\n\r\nJSON dictionary containing multiple metadata fields about the Audio File: \r\n\r\n            \r\n    Required Fields:\r\n        - FileName:\r\n            Path containing file name and extension (extension must match the uploaded file). Subdirectories specifying a more exact path may be prepended to the file name.\r\n            Examples:\r\n                -- With subdirectories: \"topfolder/subfolder/subsubfolder/filename.mp3\"\r\n                -- Without subdirectories: \"filename.mp3\"\r\n        - UploadType:\r\n            Type indicating if you are uploding a chat or audio file.\r\n            Examples:\r\n                -- \"Chat\"\r\n                -- \"Audio\"\r\n\r\n    Optional Fields: \r\n        - CallDirection: \r\n            Direction of the interaction's call to or from the call center. \r\n            Examples: \r\n                -- \"Inbound\" \r\n                -- \"Outbound\" \r\n        - Name: \r\n            Name associated with interaction. \r\n            Example: \r\n                -- \"Alice\" \r\n        - Phone: \r\n            Phone number associated with interaction. \r\n            Example: \r\n                --\"800-555-5555\" \r\n        - Email: \r\n            Email address associated with interaction. \r\n            Example: \r\n                --\"example@example.com\" \r\n        - AgentFirstName: \r\n            Agent's First Name associated with interaction. \r\n            Example: \r\n                --\"James\" \r\n        - AgentLastName: \r\n            Agent's Last Name associated with interaction. \r\n            Example: \r\n                --\"Bond\" \r\n        - AgentCode: \r\n            Agent Code for associating agent already in system with interaction. \r\n            Example: \r\n                --\"007\" \r\n        - InteractionDate: \r\n            Date on which interaction occured. \r\n            ISO-8601 Examples: \r\n            --UTC datetime: \"2022-03-18T21:52:26\" \r\n            --UTC datetime with milliseconds: \"2022-03-18T21:52:26.8816090Z\" \r\n            --UTC date only: \"2022-03-19\" \r\n            --datetime with timezone: \"2022-03-18T17:56:09.8683110-04:00\" \r\n        - ExtendedMetadata: [Deprecated - (\"Use ExtendedMetadataValues\")]\r\n            Array of Dictionaries of key values associated with interaction.\r\n            Examples: \r\n            -- [{ \"Data\": \"Example Data\"}, { \"Data2\": \"Example Data 2\", \"ExampleKey\": \"Example Value\" }]\r\n        - ExtendedMetadataValues: \r\n            Dictionary of key values associated with interaction.\r\n            Examples: \r\n            -- { \"Data\": \"Example Data\" }, { \"Data2\": \"Example Data 2\" }, { \"ExampleKey\": \"Example Value\" }\r\n        - HierarchyId: \r\n            Id of hierarchy to associate with this interaction.\r\n            Example: \r\n            -- \"00000000-0000-0000-0000-000000000002\" \r\n        - HierarchyCode: \r\n            Internal Organization Code for associating hierarchy with this interaction.\r\n            Example: \r\n            -- \"Accounting\"\r\n        - ApplyHierarchyToAgent: \r\n            If ```true``` AND a ```HierarchyId``` / ```HierarchyCode``` are provided, the system assigns that hierarchy to the agent .\r\n            Example: \r\n            -- true\r\n        - LocaleId:\r\n            Specifies the language of the interaction using a locale ID. Defaults to ```1033``` (English) if omitted.\r\n        - ClientCallId:\r\n            Your external telephony reference ID.\r\n            Example:\r\n            -- \"5CD1S\"",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "metadata"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "metadata": {
                    "type": "string"
                  },
                  "signedUrl": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "metadata": {
                  "style": "form"
                },
                "signedUrl": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object with the FileName and FileSizeKb. Returns 200 when file is successfully downloaded from signed URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Media.MediaResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "One of the following errors occured: the file provided had an invalid extension, no metadata was provided,\r\nprovided metadata was malformed, provided metadata had no FileName, an interaction with the provided file name\r\nalready exists."
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying after a rate limit",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/Metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get Metadata",
        "description": "Gets a list of Metadata objects",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "description": "Filters based On ArrivedOn date of the metadata File.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Filters based On ArrivedOn date of the metadata File. Must be equal to or later than StartDate.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MediaType",
            "in": "query",
            "description": "Valid Options:\r\n- Audio,\r\n- Email,\r\n- Chat,\r\n- Video,\r\n- Live,\r\n- Metadata,\r\n- ProcessedChat\r\n- MetadataExtended",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientCallId",
            "in": "query",
            "description": "Comma-separated list of your system's call identifiers. Up to 100 supported per request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "GUID of the last result from the previous page. Used for cursor-based pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Maximum number of metadata objects returned per call.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "HierarchyIds",
            "in": "query",
            "description": "Comma-delimited list of hierarchy IDs (GUIDs) to filter by organizational structure. Cannot be used with Chat, Metadata, or MetadataExtended media types as those files are not assigned to a hierarchy.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all metadata that meet the provided criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Metadata.Metadata"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Post Metadata",
        "description": "Return a list of Metadata with specified criteria.",
        "requestBody": {
          "description": "Request body containing parameters for Metadata creation\r\nstartDate and endDate filter based on ArrivedOn date of the metadata file",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Metadata.PostMetadataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Metadata.PostMetadataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Metadata.PostMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the list of all metadata that meet the provided criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Metadata.Metadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Metadata/{id}": {
      "patch": {
        "tags": [
          "Metadata"
        ],
        "summary": "Patch Metadata",
        "description": "Updates a target metadata object with the provided values.\r\nPerforms a patch operation that will overwrite existing values\r\nwith those provided.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the metadata object to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "New values to patch in",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Metadata.PatchMetadataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Metadata.PatchMetadataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Metadata.PatchMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Metadata.Metadata"
                }
              }
            }
          }
        }
      }
    },
    "/ModelResults": {
      "get": {
        "tags": [
          "ModelResults"
        ],
        "summary": "Get Model Results based on filter criteria",
        "description": "Returns a list of model results for the specified criteria including ML predictions and human review results.\r\n            \r\nmodelIds must contain active model IDs for your organization.\r\nUse GET /Conversations/Classifiers to discover valid modelIds for your organization.\r\nUse GET /Hierarchy/All to discover valid hierarchyCodes for your organization.\r\n            \r\nThis endpoint uses cursor-based pagination. Pass the lastId from the final item in a page to retrieve the next page.\r\nWhen includeUnprocessedMedia=true, the response may include conversations whose mediaStatus is Processed,\r\nNotProcessed, or FailedToProcess. Unprocessed conversations return mediaStatus details with modelResults set to null.\r\n            \r\nRequests earlier than 2025-10-01 are automatically clamped to 2025-10-01.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start of the date range.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Must be equal to or later than startDate.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelIds",
            "in": "query",
            "description": "Comma-separated list of active model GUIDs for your organization. At least one required. Retrieve valid IDs from GET /Conversations/Classifiers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hierarchyCodes",
            "in": "query",
            "description": "Comma-separated list of hierarchy codes to filter by. Retrieve valid codes from GET /Hierarchy/All.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page. Default 100, max 1000",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "Identifier of the last result from the previous page. Used for cursor-based pagination. Omit on the first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeUnprocessedMedia",
            "in": "query",
            "description": "Boolean. Include conversations that have not yet completed processing. Default false. When true, mediaStatus is included for every item.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the model results that match the specified criteria (empty array if no results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.ModelResults.ModelResults"
                  }
                }
              }
            }
          },
          "400": {
            "description": "If modelIds is missing, malformed, or unknown, the response includes the available active model IDs for the organization. Other 400 responses cover invalid dates, page size, or hierarchyCodes."
          }
        }
      }
    },
    "/ModelResults/Conversation": {
      "get": {
        "tags": [
          "ModelResults"
        ],
        "summary": "Get Model Results for one or more specific conversations",
        "description": "Returns all model results for conversations matching the provided Conversation Ids or Client Call Ids.\r\nmodelIds is required and must contain active model IDs for your organization.\r\nAt least one of conversationIds or clientCallIds must also be supplied.\r\nWhen both conversationIds and clientCallIds are provided, results for any conversation matching\r\neither set of identifiers are returned. Maximum 100 IDs per parameter.\r\n            \r\nUse this endpoint when you already know the Authenticx ConversationId from GET /Metadata or your own\r\nsource-system ClientCallId and want the latest available model results for those specific conversations.\r\nSet includeUnprocessedMedia=true to also return conversations that are still processing or failed to process.",
        "parameters": [
          {
            "name": "conversationIds",
            "in": "query",
            "description": "Comma-separated list of Authenticx conversation GUIDs as returned by GET /Metadata.\r\nMaximum 100 values per request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientCallIds",
            "in": "query",
            "description": "Comma-separated list of source system unique identifiers for conversations.\r\nMaximum 100 values per request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelIds",
            "in": "query",
            "description": "Required comma-separated list of active model GUIDs for your organization.\r\nOnly results for those models are returned. Retrieve valid IDs from GET /Conversations/Classifiers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeUnprocessedMedia",
            "in": "query",
            "description": "Include conversations that failed or have not yet completed processing.\r\nWhen true, returned items may contain mediaStatus with modelResults set to null.\r\nDefault true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the model results for the matched conversations (empty array if no results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.ModelResults.ModelResults"
                  }
                }
              }
            }
          },
          "400": {
            "description": "If modelIds is missing, malformed, or unknown, the response includes the available active model IDs for the organization. Other 400 responses cover invalid conversation IDs or too many identifiers."
          },
          "501": {
            "description": "This endpoint is not available for your organization. Please contact Authenticx Help Desk support.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Receipts": {
      "get": {
        "tags": [
          "Receipts"
        ],
        "summary": "Get Receipts based on filter criteria",
        "description": "Returns a list of receipts for interactions that have finished processing and match the specified criteria.\r\n            \r\nEach result in the response includes the following fields:\r\n- ConversationId: Unique identifier for the conversation. Corresponds to the Id field from GET /Metadata and the ConversationId from GET /Conversations/Insights\r\n- DateTimeReceived: The date/time the interaction arrived in the system\r\n- ClientCallId: Your external telephony reference ID for this conversation\r\n- DateTimeTransmitted: The date/time the export attempt was transmitted\r\n- ReceiptId: The receipt ID returned from the downstream system\r\n- SafetyEvent: Safety event classification result from the export\r\n- AdverseEvent: Adverse event classification result from the export\r\n- ProductQualityComplaint: Product quality complaint result from the export\r\n- uid: The external system UID returned from the export endpoint",
        "parameters": [
          {
            "name": "DateReference",
            "in": "query",
            "description": "Specifies whether to filter by 'ArrivalDate' or 'EvaluationCompleteDate'. Defaults to 'ArrivalDate' if not specified.\r\nValid values: ArrivalDate, EvaluationCompleteDate",
            "schema": {
              "type": "string",
              "example": "ArrivalDate"
            },
            "example": "ArrivalDate"
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date for filtering export receipts. Format: YYYY-MM-DDTHH:MM:SS.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-11-15T08:30:00"
            },
            "example": "2024-11-15T08:30:00"
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date for filtering export receipts. Format: YYYY-MM-DDTHH:MM:SS. Must be equal to or later than StartDate.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-11-15T17:30:00"
            },
            "example": "2024-11-15T17:30:00"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "The status filter for calls. Valid values: 'Sampled', 'ReadyToSample', 'Processing', and 'FailedToProcess'.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Sampled"
            },
            "example": "Sampled"
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "GUID of the last result from the previous page. Used for cursor-based pagination.",
            "schema": {
              "type": "string",
              "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
            },
            "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Results per page. Default 10, max 1000.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            },
            "example": 10
          },
          {
            "name": "HierarchyCodes",
            "in": "query",
            "description": "List of hierarchy codes to filter results. Can be provided as comma-separated string or multiple parameters.",
            "schema": {
              "type": "string",
              "example": "ABC123,ChatQueue1"
            },
            "example": "ABC123,ChatQueue1"
          }
        ],
        "responses": {
          "400": {
            "description": "If the request parameters are invalid"
          },
          "404": {
            "description": "If no receipts meet the criteria"
          },
          "200": {
            "description": "Returns the receipts that match the specified criteria"
          }
        }
      }
    },
    "/Roles/All": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get All Roles",
        "description": "Returns a list of all roles in your organization along with their permissions and each permission's description.",
        "parameters": [
          {
            "name": "IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all roles and their respective permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Roles.RoleResponseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/ResourceTypes": {
      "get": {
        "tags": [
          "(Scim) ResourceTypes"
        ],
        "summary": "Get All Resource Types",
        "description": "Returns, in ListResponse format, all the resource types defined by Authenticx",
        "responses": {
          "200": {
            "description": "All resource types defined by Authenticx",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Of_ResourceType"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/ResourceTypes/{ResourceTypeId}": {
      "get": {
        "tags": [
          "(Scim) ResourceTypes"
        ],
        "summary": "Get Resource Type",
        "description": "Returns one resource type specified by the resource type id.",
        "parameters": [
          {
            "name": "ResourceTypeId",
            "in": "path",
            "description": "The id of the resource type to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the resource type specified by the provided `ResourceTypeId`",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Resources.ResourceType.ResourceType"
                }
              }
            }
          },
          "400": {
            "description": "An invalid `ResourceTypeId` was provided",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/Schemas": {
      "get": {
        "tags": [
          "(Scim) Schemas"
        ],
        "summary": "Get All Schemas",
        "description": "Returns, in ListResponse format, all the schemas defined by Authenticx",
        "responses": {
          "200": {
            "description": "All schemas defined by Authenticx",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Of_ResourceSchema"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/Schemas/{SchemaUri}": {
      "get": {
        "tags": [
          "(Scim) Schemas"
        ],
        "summary": "Get Schema",
        "description": "Returns one schema specified by the schema uri.",
        "parameters": [
          {
            "name": "SchemaUri",
            "in": "path",
            "description": "The uri of the schema to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the schema specified by the provided `SchemaUri`",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Resources.ResourceSchema.ResourceSchema"
                }
              }
            }
          },
          "400": {
            "description": "An invalid `SchemaUri` was provided",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/ServiceProviderConfig": {
      "get": {
        "tags": [
          "(Scim) ServiceProviderConfig"
        ],
        "summary": "Get Service Provider Config",
        "description": "Returns the Authenticx service provider config",
        "responses": {
          "200": {
            "description": "Returns the Authenticx service provider config",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Configs.ServiceProvider"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/Users": {
      "get": {
        "tags": [
          "(Scim) Users"
        ],
        "summary": "Get Users",
        "description": "Returns the list of all users in scim user schema format.\r\nSupports, filtering, sorting, pagination, and attribute picking\r\nas defined in rfc 7644.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "See: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "See: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "See: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "See: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.4",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "See: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.4",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "See: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.5",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludedAttributes",
            "in": "query",
            "description": "Not supported",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the filtered, sorted, and/or paginated users.",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Of_User"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "(Scim) Users"
        ],
        "summary": "Create User",
        "description": "Creates a user with the provided information.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Scim.Models.User.CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created user",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Resources.User"
                }
              }
            }
          },
          "400": {
            "description": "An invalid scim schema was provided or no email was provided",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Models.ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "One or more required fields belonged to an existing user",
            "content": {
              "application/scim+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/Users/{UserId}": {
      "delete": {
        "tags": [
          "(Scim) Users"
        ],
        "summary": "Delete User",
        "description": "This action does not delete the user record from the\r\ndatabase, it marks the `disabled` field as `true`.\r\nTherefore, any attempts to create a user with the same user\r\nname as an existing, deleted user, will fail.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "The id of the user to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The user was successfully deleted",
            "content": {
              "application/scim+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "An invalid user id was provided or the user did not exist",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Models.ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "(Scim) Users"
        ],
        "summary": "Get User",
        "description": "Gets a specific user by their id.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "The id of the user to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user with the specified id",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Resources.User"
                }
              }
            }
          },
          "404": {
            "description": "A user with the specified id was not found",
            "content": {
              "application/scim+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "(Scim) Users"
        ],
        "summary": "Patch User",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "The id of the user you wish to patch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Scim.Models.Patch.PatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Resources.User"
                }
              }
            }
          },
          "400": {
            "description": "An invalid user id was provided or one of the patch operations was faulty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Models.ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "(Scim) Users"
        ],
        "summary": "Update User",
        "description": "Updates a user with specified id with the provided\r\ninformation.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "The id of the user to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Scim.Models.User.UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated user",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Resources.User"
                }
              }
            }
          },
          "400": {
            "description": "An invalid user id or scim schema was provided or the user did not exist",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Scim.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/TextMedia/Upload": {
      "post": {
        "tags": [
          "TextMedia"
        ],
        "summary": "Upload Text Media",
        "description": "Uploads a text media interaction into storage for processing.\r\n            \r\n*Param name \"file\"* \r\n\r\nText file uploaded from client. \r\n\r\nValid File Extensions:\r\n- .json\r\n- .json_chat \r\n\r\n*Param name \"metadata\"* \r\n\r\nJSON object containing multiple metadata fields for the text media File: \r\n\r\n            \r\n> 📘 **Note:** Including the ```Id``` field is recommended. If omitted, one is generated for you, but providing your own lets you correlate with your system.\r\n            \r\n- Id:\r\nUnique identifier for the text media. example: \"4834c9e9-74f2-4bfe-a0c8-ce947a4f30e3\"\r\n- FilePath:\r\nPath containing file name and extension. Subdirectories specifying a more exact path may be prepended to the file. If omitted, the system derives a path from the ```Id```.\r\nname.\r\nExamples:\r\n-- With subdirectories: \"topfolder/subfolder/subsubfolder/filename.json\"\r\n-- Without subdirectories: \"filename.json\"\r\n- TimeStamp:\r\nTime stamp of the interaction.\r\nExamples: \"2022-03-18T21:52:26\", \"2022-03-18T21:52:26.8816090Z\", \"2022-03-19\", \"2022-03-18T17:56:09.8683110-04:00\"\r\n- CallDirection:\r\nDirection of the interaction's call to or from the call center.\r\nExamples:\r\n-- \"Inbound\"\r\n-- \"Outbound\"\r\n- Name:\r\nName associated with interaction.\r\nExample:\r\n-- \"Alice\"\r\n- Phone:\r\nPhone number associated with interaction.\r\nExample:\r\n--\"800-555-5555\"\r\n- AgentFirstName:\r\nAgent's First Name associated with interaction.\r\nExample:\r\n--\"James\"\r\n- AgentLastName:\r\nAgent's Last Name associated with interaction.\r\nExample:\r\n--\"Bond\"\r\n- AgentCode:\r\nAgent Code for associating agent already in system with interaction.\r\nExample:\r\n--\"007\"\r\n- ExtendedMetadata:\r\nArray of Dictionaries of key values associated with interaction\r\nExamples:\r\n-- [{ \"Data\": \"Example Data\"}, { \"Data2\": \"Example Data 2\", \"ExampleKey\": \"Example Value\" }]\r\n- HierarchyId:\r\nId of hierarchy to associate with this interaction\r\nExample:\r\n-- \"00000000-0000-0000-0000-000000000002\"\r\n- HierarchyCode:\r\nInternal Organization Code for associating hierarchy with this interaction\r\nExample:\r\n-- \"Accounting\"\r\n- ApplyHierarchyToAgent:\r\nIf we want the hierarchy that is passed in to also be applied to the agent then true\r\nExample:\r\n-- true\r\n- LocaleId:\r\nSpecifies the language of the interaction using a locale ID. Defaults to ```1033``` (English) if omitted.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "metadata"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "metadata": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "metadata": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object with the FileName and FileSizeKb"
          },
          "400": {
            "description": "One of the following errors occurred: the file provided had an invalid extension, no metadata was provided,\r\nprovided metadata was malformed, provided metadata had no FileName, an interaction with the provided file name\r\nalready exists."
          }
        }
      }
    },
    "/User": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User By UserName",
        "description": "Returns the user with the username specified in the query string.",
        "parameters": [
          {
            "name": "UserName",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user with the specified username",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.User.UserResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "The UserName query parameter was not supplied"
          },
          "404": {
            "description": "No user in your organization matches the specified username"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create User",
        "description": "Adds a user to your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.User.CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.User.UserResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required fields were incorrect or belonged to a user that already exists"
          }
        }
      }
    },
    "/User/{UserId}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User",
        "description": "Returns the user with the id specified in the url.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user with the specified id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.User.UserResponseModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update User",
        "description": "Updates information about an existing user in your organization.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "The string ID of the user to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.User.UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly updated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.User.UserResponseModel"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/User/All": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get All Users",
        "description": "Returns a list of all users in your organization.",
        "parameters": [
          {
            "name": "IsActive",
            "in": "query",
            "description": "Filter by active (true) or disabled (false) users. Omit to return all",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.User.UserResponseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/UserHierarchy/{UserId}/{HierarchyId}": {
      "get": {
        "tags": [
          "UserHierarchy"
        ],
        "summary": "Get Hierarchy Permissions For User",
        "description": "Returns a list of all permissions within a hierarchy for the specified user.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HierarchyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the specified hierarchy and all of the specified user's permissions within it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.UserHierarchy.UserHierarchyResponseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The UserId or HierarchyId provided did not match an existing user/hierarchy in your organization.\r\nOr, the specified user has no permissions in the specified hierarchy."
          }
        }
      },
      "put": {
        "tags": [
          "UserHierarchy"
        ],
        "summary": "Update Hierarchy Permissions For User",
        "description": "Updates a user's permissions within a specified hierarchy.",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HierarchyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.UserHierarchy.UpdateUserHierarchyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the Hierarchy, and the newly updated user permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.UserHierarchy.UserHierarchyResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "One of the following errors occurred:\r\nan accessLevel was provided that was not `View`, `Edit`, or `Manage`.\r\nthere was an invalid permission name in your permissions list."
          },
          "404": {
            "description": "If your organization has no hierarchy or user with that specific id"
          }
        }
      }
    },
    "/UserHierarchy/{UserId}/All": {
      "get": {
        "tags": [
          "UserHierarchy"
        ],
        "summary": "Get All Hierarchy Permissions For User",
        "description": "Returns a list of all active hierarchies along with the specified user's permissions for each hierarchy",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all active hierarchies along with the specified user's permissions for each hierarchy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Hierarchies.UserHierarchy.UserHierarchyResponseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The UserId provided did not match an existing user in your organization"
          }
        }
      }
    },
    "/Workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get Workflows",
        "description": "Gets a list of Workflow objects in a given date range.",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "description": "Start of the date range.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Must be equal to or later than StartDate.\r\nISO-8601 Examples:\r\nUTC datetime: 2022-03-18T21:52:26\r\nUTC datetime with milliseconds: 2022-03-18T21:52:26.8816090Z\r\nUTC date only: 2022-03-19\r\ndatetime with timezone: 2022-03-18T17:56:09.8683110-04:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateReference",
            "in": "query",
            "description": "Which date to filter on. Valid values: \r\n            \r\n            CreatedOnDate, \r\n            InteractionDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Results per page. Default 100, max 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "GUID of the last workflow from the previous page. Used for cursor-based pagination.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcxApi.Models.Workflows.WorkflowModel"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcxApi.Controllers.Interactions.AgentInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fullName": {
            "type": "string",
            "description": "The full name of the agent.",
            "nullable": true,
            "example": "Chris Jericho"
          },
          "agentCode": {
            "type": "string",
            "description": "The unique code of the agent.",
            "nullable": true,
            "example": "1386"
          },
          "agentEmail": {
            "type": "string",
            "description": "The email of the agent.",
            "nullable": true,
            "example": "Chris.Jericho@email.com"
          }
        },
        "additionalProperties": false
      },
      "AcxApi.Controllers.Interactions.ClassifierResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the classifier.",
            "nullable": true,
            "example": "ML-EddyEffect"
          },
          "modifiedOn": {
            "type": "string",
            "description": "The date and time when the result was last modified.",
            "format": "date-time",
            "example": "2024-09-12T14:39:59.555797Z"
          },
          "result": {
            "type": "string",
            "description": "The result from the classifier.",
            "nullable": true,
            "example": "False"
          },
          "score": {
            "type": "number",
            "description": "The confidence score of the classifier result (optional).",
            "format": "double",
            "nullable": true,
            "example": 0.00234599
          }
        },
        "additionalProperties": false
      },
      "AcxApi.Controllers.Interactions.InteractionResponseModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of this interaction.",
            "format": "uuid",
            "example": "fff7115d-81f8-4e80-8eb1-2505b47a8bb6"
          },
          "clientCallId": {
            "type": "string",
            "description": "The customer-specific unique ID of this interaction",
            "nullable": true,
            "example": "abc123-2018"
          },
          "interactionDate": {
            "type": "string",
            "description": "The date and time when this interaction occurred.",
            "format": "date-time",
            "example": "2024-09-12T13:02:12.199Z"
          },
          "agent": {
            "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.AgentInfo"
          },
          "classifierResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.ClassifierResult"
            },
            "description": "Results from classifiers applied during the interaction.",
            "nullable": true,
            "example": [
              {
                "name": "ML-EddyEffect",
                "modifiedOn": "2024-09-12T14:39:59.555797Z",
                "result": "False",
                "score": 0.00234599
              },
              {
                "name": "ML-Summarization",
                "modifiedOn": "2024-09-12T14:36:53.270466Z",
                "result": "The caller asked about the Eddy Effect. The agent answered the question.",
                "score": null
              }
            ]
          },
          "arrivedOn": {
            "type": "string",
            "description": "The date and time when this interaction arrived in the system.",
            "format": "date-time",
            "example": "2024-09-12T14:15:35.678557Z"
          },
          "modifiedOn": {
            "type": "string",
            "description": "The date and time when this interaction was last modified.",
            "format": "date-time",
            "example": "2024-09-14T13:33:05.531552Z"
          },
          "status": {
            "type": "string",
            "description": "The status of the interaction.",
            "nullable": true,
            "example": "Sampled"
          },
          "transcriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AcxApi.Controllers.Interactions.TranscriptionModel"
            },
            "description": "A list of transcriptions related to the interaction.",
            "nullable": true
          },
          "metadataExtended": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Extended metadata related to the interaction.",
            "nullable": true,
            "example": {
              "ANI": "18888375309",
              "DNIS": "18008375309",
              "CustomField": true
            }
          },
          "evaluationIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "A list of evaluation IDs associated with the interaction.",
            "nullable": true,
            "example": [
              "01000000-e1a4-226a-3335-08dcd4c1c346"
            ]
          },
          "duration": {
            "type": "integer",
            "description": "The duration of the interaction in milliseconds.",
            "format": "int64",
            "example": 1260672
          },
          "messageCount": {
            "type": "integer",
            "description": "The number of messages exchanged during the interaction.",
            "format": "int32",
            "nullable": true,
            "example": null
          },
          "mediaType": {
            "type": "string",
            "description": "The type of media for the interaction (e.g., Audio, ProcessedChat).",
            "nullable": true,
            "example": "Audio"
          },
          "meta1": {
            "type": "string",
            "description": "Additional metadata for the interaction (optional).",
            "nullable": true,
            "example": "true",
            "deprecated": true
          },
          "meta2": {
            "type": "string",
            "description": "Additional metadata for the interaction (optional).",
            "nullable": true,
            "example": "0bc16fa3-fc50-49bb-a294-fd0f7732ca3f",
            "deprecated": true
          },
          "meta3": {
            "type": "string",
            "description": "Additional metadata for the interaction (optional).",
            "nullable": true,
            "example": "Blue",
            "deprecated": true
          },
          "meta4": {
            "type": "string",
            "description": "Additional metadata for the interaction (optional).",
            "nullable": true,
            "example": null,
            "deprecated": true
          },
          "meta5": {
            "type": "string",
            "description": "Additional metadata for the interaction (optional).",
            "nullable": true,
            "example": "Manager Name",
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "AcxApi.Controllers.Interactions.PostInteractionsRequest": {
        "required": [
          "endDate",
          "startDate"
        ],
        "type": "object",
        "properties": {
          "dateReference": {
            "type": "string",
            "description": "Specifies whether to filter by 'InteractionDate' or 'ArrivalDate'.",
            "nullable": true,
            "example": "InteractionDate"
          },
          "startDate": {
            "minLength": 1,
            "type": "string",
            "description": "The start date for filtering interactions. Format: YYYY-MM-DDTHH:MM:SS.",
            "example": "2024-11-15T08:30:00"
          },
          "endDate": {
            "minLength": 1,
            "type": "string",
            "description": "The end date for filtering interactions. Format: YYYY-MM-DDTHH:MM:SS.",
            "example": "2024-11-15T17:30:00"
          },
          "status": {
            "type": "string",
            "description": "The status filter for interactions. Valid values: 'Sampled', 'ReadyToSample'.",
            "nullable": true,
            "example": "Sampled"
          },
          "eddyEffect": {
            "type": "string",
            "description": "Boolean filter for the Eddy Effect model results. Valid values: 'true', 'false'.",
            "nullable": true,
            "example": "true"
          },
          "lastId": {
            "type": "string",
            "description": "The last Interaction ID (excluded) to start pagination from.",
            "nullable": true,
            "example": "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of results to return per call. Must be an integer between 1 and 20.",
            "format": "int32",
            "nullable": true,
            "example": 10
          },
          "hierarchyIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of GUIDs representing the hierarchy IDs to filter interactions by organizational structure.",
            "nullable": true,
            "example": [
              "b1a9e4d6-7c3a-4e91-9342-835ec9d4f7b1",
              "ad5b1e2f-08b9-4b23-9e0c-d1a1c3eafc2f"
            ]
          }
        },
        "additionalProperties": false,
        "description": "Request model for filtering interactions for POST requests."
      },
      "AcxApi.Controllers.Interactions.TranscriptionModel": {
        "type": "object",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "The language code of the transcription.",
            "nullable": true,
            "example": "en"
          },
          "transcription": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The transcriptions for the interaction.",
[...]
